<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Webpack</title>
</head>
<body ng-app="app">
<div id="root" ng-controller="appCtrl as ctrl">
    <div ng-repeat="product in ctrl.products">
        <span ng-click="ctrl.productSelected(product)" product-directive product="product"></span>
    </div>

    <product-description description="ctrl.currentProduct.description"
                         ng-if="ctrl.currentProduct"></product-description>
</div>

<script src="bundle.js"></script>
</body>
</html>